/********
GENERAL
********/

body {
	background-color: #404040;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	margin-top: 5%;
	margin-bottom: 2.5%;
}

hr {
	width: 60%;
	border: 2px ridge #4cb1c2;
}

a {
	color: #4cb1c2;
}

/*Colors
#404040 - Grey for background
#4cb1c2 - Light aqua for hr tags*/



/********
HEADER
********/

h1, h2, .information {
	text-align: center;
}

h2 {
	text-decoration: underline;
}



/********
PAGE
********/

p {
	font-size: 1.15em;
}



/********
FOOTER
********/

.social_media {
	text-align: center;
	margin-top: 7%;
}

.fa {
	margin-left: .25%;
	margin-right: .25%;
	font-size: 1.5em;
}





